*.tar.gz
*.autosave
*.exe
src/bitcoin
src/bitcoind
src/bitcoin-cli
src/bitcoin-tx
src/test/test_bitcoin
src/qt/test/test_bitcoin-qt
src/litecoin
src/litecoind
src/litecoin-cli
src/litecoin-tx
src/test/test_litecoin
src/qt/test/test_litecoin-qt
src/qt/core
src/faicoin
src/faicoind
src/faicoin-cli
src/faicoin-tx
src/test/test_faicoin
src/qt/test/test_faicoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/test/moc*.cpp
src/qt_ui/*.moc
src/qt_ui/moc_*.cpp
src/qt_ui/browserexe
src/qt_ui/FAI
src/qt_ui/fai
src/qt_ui/browserexe*
src/qt_ui/browsertest
src/qt_ui/forms/ui_*.h
src/qt_ui/ui_*.h
src/qt_ui/test/moc*.cpp
src/qt_ui/browser-qt.pro.user.*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.bitcoin
*.a
*.pb.cc
*.pb.h
moc*.cpp
*.log
*.trs
*.dmg
*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
#*.qm
Makefile
bitcoin-qt
Bitcoin-Qt.app
litecoin-qt
Litecoin-Qt.app
faicoin-qt
Faicoin-Qt.app

# Unit-tests
Makefile.test
bitcoin-qt_test
litecoin-qt_test
faicoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

/doc/doxygen/

nbproject/
nbproject/*
