.brimg{
    max-width:90%;max-height:800px;
}.brimgs{
    max-width:90%;max-height:100%;
}.ctt{
    padding:0px 0;max-height: 500px; overflow-y: scroll;
}.ctt .text{
    margin-bottom: 10px;
}.ctt img{
    max-width: 90%;height:auto;width: auto;max-height: 400px;
}.column2 #main-notices-container{
    right: 20px;
}.lttext{
    color:#aaa;
}.ltborder{
    border: 1px solid #ccc;
}.noborder{
    border:none;
}.ntcbtn{
    position:relative;
}.langbtn-p{
    position: relative;
}.language{
    margin:5px;width:30px; height:20px;
}.dropdown-menu{
    background-color: #000;
}.dropdown-menu .language{
    padding-left: 60px;
}#mainframe{
    overflow-y: scroll;
}.container{
    width:inherit;
}

/* slider */
#slider{
    position:relative; overflow:hidden; margin:40px auto 0 auto; 
}#slider ul {
    position:relative; margin:0; padding:0; height:200px; list-style:none;
}#slider ul li {
    position:relative; display:block; float:left; margin:0; padding:0; width:480px; height:360px; background:#eee; text-align:center; 
}#slider .brimgs{
    top:50%;position: relative;  -webkit-transform: translate(0,-50%);
}#slider  .scontainer{
    height:90%;vertical-align: middle; 
}a.control_prev, a.control_next {
    position:absolute; top:40%; z-index:999; display:block; padding:4% 3%; width:auto; height:auto; background:#2a2a2a; color:#fff; text-decoration:none; font-weight:600; font-size:18px; opacity:0.6; cursor:pointer;
}a.control_prev:hover, a.control_next:hover {
    opacity:1;
}a.control_prev {
    border-radius:0 3px 3px 0;
}a.control_next {
    right:0; border-radius:3px 0 0 3px;
}.refresh-arrow{
    min-width:100px;height:30px;position: fixed;right:100px;background-color: #0ac;border-radius: 5px;padding: 5px;color:#fff;font-weight: bolder;
}.refresh-arrow:hover{
    cursor: pointer;
}#getold-btn{
    bottom:10px;
}a.slidelink{
    position: absolute; bottom:0px; height: 10%;left:50%; -webkit-transform: translate(-50%);
}

/* publisher */
#fileholder {
    background-attachment: scroll; background-origin: padding-box;border:5px dashed #ccc; line-height: 20px; margin: 50px auto; width: 470px;min-height: 150px;overflow: auto;
}#fileholder:hover{
    cursor: pointer;
}#pubpreview{
    border:3px solid #ccc;margin:10px;
}#pubpreview .container{
    width:100%;
}#pubpreview .prevtitle{
    background-color: #ccc;text-align: center;color: #fff;font-weight: bold;
}.idbtn:disabled{
    color: #bbb;
}#pubbtnh{
    display: none;text-align: right;
}#pubbtnh button{
    margin:0 10px 10px;
}.pubtf{
    text-align: left;margin-bottom: 8px;
}.pubtf span{
    margin: 0 15px; width: 80px;display: inline-block;
}.pubtf input[type="text"]{
    width:300px;
}.pubtf input[name="tag"]{
    width:200px;
}.pubtf input[type="checkbox"]{
    margin-left: 10px;
}#input-link,#input-link-name,#input-feerate{
    width:140px;margin-right:10px;
}.maininput{

}span.estfee{
    color:#aaa;display: inline; margin-right:0;
}#ctt-json{
    width:80%; margin:0 10%;
}.pubdfttag{
    margin:10px 5px;
}.pubdfttag input[type="checkbox"], .pubdfttag span{
    margin: 0 5px;
}#search{
    margin-bottom:50px;
}#search-btn{
    margin-left:15px;
}#search input[type="radio"]{
    margin-left:10px;
}.dmn span:empty{
    margin:0;   
}.dmn .alias{
    margin-right:30px;
}.dmn .domain{
    color: #08c;margin-right:30px;
}.ctt .icon20,.dmn .icon20,.prd .icon20{
    display:inline-block;margin-right:5px;
}.flheader{
    font-size: 20px;font-weight: bold;color:#aaa;text-align: center;margin: 10px 0 30px;
}#hpheader #blclvl{
    margin-left:15px;
}#hpheader .idbtn{
    background-color:#888; color:#eee;
}