.tab-content{
    overflow: hidden;overflow-y: scroll;
}.prd{
    max-width: 1000px;
}.container.prd{
    text-align: left;
}.sid:hover{
    cursor: pointer;
}#buy-product-list img,#seller-product-list img,#sales-record img,#cart-list img,#table-myorders img{
    max-width: 50px; max-height:50px;
}